{% extends 'layouts/default.njk' %}

{% block body %}

  <div class='wrapper'>
    <section class='snippets-list'>
      <div class='list-header'>
        <a href='#'>NOVO SNIPPET</a>
      </div>
      <a href='#'>
          <strong>Meu Snippet</strong>
          <p>Conteúdo</p>
      </a>
    </section>
  </div>

{% endblock %}
